{% extends 'base.html' %}

{% block content %}
  <h1>Register</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
  {% if form.errors %}
        <ul>
            {% for field, error in form.errors.items %}
                <li>{{ field }}: {{ error }}</li>
            {% endfor %}
        </ul>
#This is what enables display of error incase of authentication error in any of the fields 

    {% endif %}
    <button type="submit">Register</button>
  </form>
  <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}

    {% if form.errors %}
        <ul>
            {% for field, error in form.errors.items %}
                <li>{{ field }}: {{ error }}</li>
            {% endfor %}
        </ul>
